*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}

button {
  color: white;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  text-align: center;
  transition: var(--smooth);
  cursor: pointer;
}

/* === header === */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar__logo img {
  width: 57px;
  height: 57px;
  object-fit: cover;
}

/* menu */
.navbar__links {
  height: 100%;
  width: 60%;
  background-color: var(--gray);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  margin: 55px;
  list-style: none;
}

.navbar__link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: var(--smooth);
}

.navbar__link a:hover {
  transition: var(--smooth);
  color: var(--green-l);
}

.navbar__btn {
  background-color: var(--green);
  margin-left: 45px;
  font-size: 1rem;
  font-weight: 500;
}

.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon::after,
.navbar__icon::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon::after {
  transform: translateY(12px);
}

.navbar__icon::before {
  transform: translateY(-12px);
}

/* menu button */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__link a {
    color: var(--gray);
    font-weight: 500;
  }

  .navbar__icons {
    display: none;
  }

  .navbar__btn {
    background-color: var(--gray);
    font-weight: 500;
  }
}

/* === banner === */

#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.banner__heading {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  color: var(--gray);
}

.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}

.banner__btn {
  font-size: 1rem;
}

.banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
}

.banner__socials a:hover {
  color: var(--green);
  transition: var(--smooth);
}

@media (min-width: 62em) {
  .banner__heading {
    text-align: initial;
    margin: 0;
    padding-top: 0;
  }
  .banner__socials {
    justify-content: flex-start;
  }
  .banner__socials a {
    margin-right: 45px;
  }
  .banner__img {
    width: 60%;
  }
}

/* === things === */

#things {
  position: relative;
  overflow-x: hidden;
  margin-top: 15em;
}

#things h2 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 3em;
}

.things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}

.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  right: 0;
  bottom: 15%;
  transform: translateX(60%);
  z-index: -1;
}
.things__item {
  margin: 3em 0;
}

.things__item img {
  padding-bottom: 4em;
}

.things__item--heading {
  text-align: center;
  color: var(--gray);
}

.things__item--heading p {
  max-width: 300px;
  margin: 0 auto;
  font-weight: 300;
  padding-top: 1em;
  line-height: 2em;
}

@media (min-width: 62em) {
  .things__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }

  .things__item img {
    width: 40%;
    padding-bottom: 0;
  }

  .things__item--heading {
    width: 45%;
    text-align: initial;
  }

  .things__item--heading p {
    max-width: 500px;
    margin: 0;
  }

  .things__item:nth-child(odd) img {
    width: 40%;
    order: 2;
    padding-bottom: 0;
  }

  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 45%;
    text-align: initial;
  }
}
